//
//  Config.xcconfig
//  Beacon
//
//  Created by Robert Marco Ramberg on 03/11/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GEOAPIFY_API_KEY=d69a1b778c3e4f54be6ad84666ae34ca
